openapi: 3.2.0
info:
  title: Payem Categories API
  version: v2.2.4
  contact:
    name: Payem
    email: contact@payem.co
    url: https://payem.co
  license:
    name: CC-BY-4.0
    identifier: CC-BY-4.0
    url: https://creativecommons.org/licenses/by/4.0/
  description: 'Operations tagged Categories across 2 of this provider''s published API definitions: payem-ai-discovery-openapi.json, payem-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.llm-discovery-api.com/functions/v1/llm-discovery/public
  description: AI Discovery API Server (October 2025)
  variables:
    domain:
      default: payem.co
      description: Client domain for API requests
tags:
- name: Categories
paths:
  /categories:
    get:
      summary: Get product categories for Payem
      operationId: getCategories
      responses:
        '200':
          description: Product categories
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                    description:
                      type: string
                    products_count:
                      type: integer
      tags:
      - Categories
    servers:
    - url: https://api.llm-discovery-api.com/functions/v1/llm-discovery/public
      description: AI Discovery API Server (October 2025)
      variables:
        domain:
          default: payem.co
          description: Client domain for API requests
x-refined-from:
- payem-ai-discovery-openapi.json
- payem-openapi.json
x-perplexity-optimized: true
x-claude-compatible: true
x-openai-compatible: true
x-google-sge: true
x-ai-discovery:
  version: 3.0.0
  features:
  - structured_data
  - json_ld
  - schema_org
  - sge_optimized
  last_updated: '2026-08-26'
